html, body{
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
}

body{
	min-width: 350px;
}

header{
	margin-top: 50px;
	width: 100%;
    margin-right: auto;
    margin-left: auto;
}

header img{
	width: 150px;
}

header h2{
	font-size: 2em;
	color: #0066CC;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px grey;
}

header p{
	font-size: 1.2em;
	font-weight: bold;
}

.input_section{
	margin: 25px auto;
	padding: 25px;
}

button{
	margin: 15px auto;
	height: 25px;
	width: 100px;
	border-radius: 10px;
	background-color: #B0C4DE;
	border-style: none;
}

form{
	margin: 15px auto;
}

form input{
	width: 300px;
	height: 25px;
	border-radius: 10px;
	border-color: grey;
	text-align: center;
}